/* CONTENT */
main{
    align-items: center;
    padding: 1% 2.5% 5% 2.5%;
}

button{
    background-color: #4D2C5E;
    margin-bottom: 3%;
    margin-right: 3%;
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 15px;
    border: none;
    flex-direction: row;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

button:hover{
    scale: 110%;
}

button:active{
    background-color: #2f133c;
}

.addModule{
    text-align: center;
}

h3{
    color: white;
}

.pageLabel{
    color: #4D2C5E;
}

.module .content{
    width: 95%;
    background-color: white;
    border-radius: 15px;
    padding: 0% 3%;
    margin: 0% 0% 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #4D2C5E;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}


.module button{
    background-color: #4D2C5E;
    margin: 0% 5% 0%;
    padding: 0% 5% 0%;
    border-radius: 15px;
    width: 80px;
    height: fit-content;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.module button:hover{
    scale: 110%;
}

.module button:active{
    background-color: #2f133c;
}

.module h3{
    color: white;
}


.contentText{
    float: 1;
}


.module .adminButtons{
    display: flex;
    flex-direction: row;
    align-items: center;
    float: right;
}

#delete{
    background-color: red;
    margin-left: auto;
    width: 100px;
}