html,
body {
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Poppins", sans-serif;
  background-color: #fdf8ee;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
}

/* Tailwind utils */

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}
