/* CONTENT */
main{
    align-items: center;
    padding: 1% 2.5% 5% 2.5%;
}

main video{
    width: 70%;
    max-width: 800px;
}

.material{
    width: 80%;
    background-color: white;
    display: block;
    display: flex;
    margin: 5%;
    padding: 2%;
    border-radius: 15px;
    flex-direction: row;
    color: #4D2C5E;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.exercise{
    width: 84%;
    background-color: white;
    display: block;
    display: flex;
    margin: 5%;
    border-radius: 15px;
    flex-direction: row;
    color: #4D2C5E;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.exercise img{
    width: 20%;
    max-width: 138px;
    max-height: 126px;
    padding: 3%;
}

.pageLabel{
    color: #4D2C5E;
}